.movies-card {
    display: flex;
    width: 100%;
    height: 134px;
    background-color: #F9F9F9;
    margin-top: 40px;
    justify-content: space-between;
}

.movies-card:first-child {
    margin-top: 80px;
}

.movies-card__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 22px 0 0 22px;
}

.movies-card__desc {
    display: flex;
    flex-direction: column;
}

.movies-card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.movies-card__time {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0;
    padding: 13px 0 30px 0;
}

.movies-card__button {
    width: 14px;
    height: 12px;
    border: none;
    background-color: transparent;
    background-image: url(../../images/heart-transporent.svg);
    cursor: pointer;
}

.movies-card__button_active {
    background-image: url(../../images/heart-red.svg);
}

.movies-card__button_cross {
    background-image: url(../../images/cross.svg);
    background-repeat: no-repeat;
}

.movies-card__box-img {
    width: 220px;
    height: 122px;
    display: flex;
    align-self: center;
    padding-right: 6px;
}

.movies-card__img {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
    .movies-card:first-child {
        margin-top: 70px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767.9px) {
    .movies-card {
        height: auto;
        flex-direction: column;
        margin-top: 20px;
    }

    .movies-card:first-child {
        margin-top: 50px;
    }

    .movies-card__content {
        width: 100%;
        flex-direction: row;
        padding: 14px 16px 0 12px;
        order: 2;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .movies-card__title {
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__time {
        padding: 8px 0 14px 0;
    }

    .movies-card__box-img {     
        width: 100%;
        height: auto;
        padding-right: 0px;
        order: 1;
    }
}