.portfolio {
    padding: 0 70px 125px;
}

.portfolio__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0;
    padding: 0;
}

.portfolio__wrap {
    padding: 50px 0 0 0;
    margin: 0;
}

.site-link {
    width: 100%;
    text-decoration: none;
    color: #000;
    transition: opacity .3s;
}

.site-link:hover {
    opacity: .6;
}

.box-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #E8E8E8;
}

.box-list:last-child {
    border-bottom: none;
}

.site-info {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 20px 0 19px 0;
}

.site-info_padding-bottom_none {
    padding: 20px 0 0 0;
}

.site-info_padding-top_none {
    padding: 0 0 19px 0;
}

.arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 40px;
    right: 0px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
}

.arrow:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    top: 8px;
    right: -6px;
    background: #000;
}

.arrow:after {
    transform: rotate(-45deg);
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
    .portfolio {
        padding: 0 50px 90px;
    }

    .site-info {
        font-size: 28px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767.9px) {
    .portfolio {
        padding: 0 14px 70px;
    }

    .portfolio__subtitle {
        font-size: 14px;
    }

    .portfolio__wrap {
        padding: 40px 0 0 0;
    }

    .site-info {
        font-size: 18px;
        line-height: 28px;
    }

    .arrow {
        width: 10px;
        height: 10px;
        top: 30px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
    }

    .arrow:after {
        width: 15px;
        height: 2px;
        top: 3px;
        right: -3px;
    }

    .arrow:after {
        transform: rotate(-45deg);
    }

    .arrow_top_change {
        top: 10px;
    }
}